body {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  margin:0 auto
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

